<h2>Editar comentário</h2>
<hr>

<div class="container col-lg-6 col-sm-12 mt-5">
    <form method="POST" action="/admin/comentarios/edit/{{comentario._id}}">
        <label for="nome">Nome:</label>
        <input class="form-control mb-2" id="nome" name="nome" type="text" disabled value="{{comentario.nome}}" required>

        <label for="email">Email:</label>
        <input class="form-control mb-4" id="email" name="email" type="email" disabled value="{{comentario.email}}" required>

        <textarea name="texto" class="form-control mb-4" placeholder="Digite o seu comentário" required>{{comentario.texto}}</textarea>

        <div class="text-end">
            <button type="submit" class="btn btn-success">Confirmar</button>
        </div>
    </form>
</div>