<h2>Criar artigo</h2>
<hr>

<div class="container col-lg-6 col-sm-12 mt-5">
    <form method="POST" action="/articles/create">
        <label for="nome">Título:</label>
        <input class="form-control mb-2" id="title" name="title" type="text" required>

        <textarea name="content" class="form-control mb-4" required>{{article.text}}</textarea>

        <div class="text-end">
            <button type="submit" class="btn btn-success">Criar</button>
        </div>
    </form>
</div>